.my-nav-bar {
  margin-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 4px;
  border-bottom: solid 1px #E5E5E5;
}

.nav-div {
  width: 50%;
  height: 60px;
  text-align: center;
  line-height: 60px;
  background: -webkit-linear-gradient(#FFFFFF, #E0F1F5, #FBFCF9); /* For Safari 5.1 to 6.0 */
  border: solid 1px #E5E5E5;
}

.event {
  margin-top: 5px;
  background: -webkit-linear-gradient(#FFF, #E9F1F5, #FBFCFE); /* For Safari 5.1 to 6.0 */
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 18px;
  padding-top: 18px;
  border-bottom: solid 2px #E5E5E5;
}
.event > .left-column {
  float: left;
  max-width: 85%;
}
.event > .right-column {
  float: right;
  padding-top: 3px;
}
.event-title {
  max-height: 100px;
  overflow: hidden;
  font-size: 32px;
}
.event-detail {
  color: #B2B2B2;
  font-size: 24px;
}
.event-detail > img {
  width: 24px;
}

.num-circle {
  width: 55px;
}

.active {
  color: #FFFFFF;
  background: -webkit-linear-gradient(#E9009A, #AE0098);
}

.my-button {
  min-width: 48%;
}

.non-active {
  background: -webkit-linear-gradient(#FFFFFF, #E0F1F5, #FBFCF9); /* For Safari 5.1 to 6.0 */
}

.modal-row {
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 18px;
  padding-top: 18px;
}
span { display:inline-block; vertical-align:middle }

.modal-row-detail {
  color: #666666;
  font-size: 26px;
  margin-left: 41px;
}

.modal-content {
  background-color: #F3F3F3;
}
.modal-body {
  padding-top: 0px;
}
.modal-row-title {
  margin-left: 10px;
}
.button-single {
  margin-left: 5%;
  width: 90%;
  height: 60px;
}

.button-half {
  width: 45%;
  height: 60px;
}

.modal-tips {
  margin-top: 5px;
  margin-bottom: 5px;
}

.icon {
  width: 30px;
}

.font-light {
  color: #BABABA;
}
.font-pink {
  color: #C20096;
}
.font-small {
  font-size: 22px;
}

.cute-title {
  background-color: #E2E2E2;
  margin: 3%;
  border-radius: 5px;
}

.qrcode-section {
  margin-left: 28px;
  margin-top: 4%;
}
.qrcode {
  margin-left: 12%;
  width: 70%;
  margin-top: 13px;
}
p {
  margin: 0px;
}
button.btn {
  font-size: 24px;
  border-radius: 8px;
}

.btn-default, .btn-default:hover {
  color: #C20096;
}

.text-hint {
  background-color: #E2E2E2;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 2%;
  border-radius: 5px;
}

