*, .form-control, .input-group-addon, .btn-primary {
 font-family: "Microsoft YaHei";
 font-size: 28px;
}

.btn-primary, .btn-default {
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

.form-control {
  height: 70px;
  border-radius: 10px;
}

.input-group-addon {
  background-color: #fff;
  border-radius: 10px;
}

.input-group {
  height: 70px;
}

div.container {
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  background-color: #f3f3f3;
  width: 640px;
}

.text-primary, .text-primary:hover, a, a:hover {
  color: #d020a0;
}

.btn-primary, .btn-primary:hover {
  background-color: #d020a0;
  border-color: #d020a0;
  color: #fff;
}

.btn-default, .btn-default:hover {
  border-color: #ccc;
  background-color: #fff;
  color: #333;
}

.text-danger {
  color: #f00;
}

.modal-dialog {
  width: 540px;
  position: relative;
  margin: auto;
  margin-top: 50px;
}

.modal-dialog > div {
  min-height: 540px;
}

textarea {
  resize: none;
}

.border-none {
  border: none;
}

.border-radius {
  border: 1px solid #ccc;
  border-radius: 10px;
}

.people {
  margin-top: 3%;
}

.close {
  opacity: 1;
}

