{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}首次认证{% endblock %}

{% block head %}
  <script src="{% static "js/login.js" %}"></script>
  <link href="{% static "css/login.css" %}" rel="stylesheet">
{% endblock %}

{% block main %}
<form action="" method="post" class="form" role="form">
  {% csrf_token %}
  <p class="form-signin-heading title">微沙龙认证</p>
  <input type="text" name="username" class="form-control" placeholder="Info学号" required></input>
  <input type="password" name="password" class="form-control" placeholder="Info密码" required></input>
  <input type="phone" name="phone" class="form-control" placeholder="手机号" required></input>
  <button class="btn btn-lg btn-primary btn-block" type="submit">提&nbsp;&nbsp;交</button>
  <p class="text-muted auth">微沙龙学术买单系统仅为清华大学在校师生提供服务，请在使用前通过info信息认证。</p>
  {% ifequal login_result 'success' %}
  <div id="success" class="modal fade" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-body">
          <p>认证成功！</p>
          <p>您可以
          <a class="text-primary" href="#">参加沙龙</a>
          或
          <a class="text-primary" href="#">发起沙龙</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <script>
    $('#success').modal({'backdrop': 'static'});
  </script>
  {% endifequal %}
  {% ifequal login_result 'fail' %}
  <div id="fail" class="modal fade" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-body">
          <p class="text-danger">认证失败！</p>
          <p class="text-muted">您需要核对信息后再次提交</p>
        </div>
      </div>
    </div>
  </div>
  <script>
    $('#fail').modal();
    setTimeout(function() {
        $('#fail').modal('hide')
    }, 3000);
  </script>
  {% endifequal %}
  
</form>
{% endblock %}

