{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}首次认证{% endblock %}

{% block head %}
  <link href="{% static "css/login.css" %}" rel="stylesheet">
{% endblock %}

{% block main %}
<form action="" method="post" class="form" role="form">
  {% csrf_token %}
  <h4 class="form-signin-heading">微沙龙认证</h2>
  <input type="text" name="username" class="form-control" placeholder="Info学号/用户名" required></input>
  <input type="password" name="password" class="form-control" placeholder="Info密码" required></input>
  <input type="phone" name="phone" class="form-control" placeholder="手机号" required></input>
  <button class="btn btn-lg btn-primary btn-block" type="submit">提&nbsp;&nbsp;交</button>
  <p class="text-muted">微沙龙学术买单系统仅为清华大学在校师生提供服务，请在使用前通过info信息认证。</p>
  <input type="hidden" name="next" value="" />
</form>
{% endblock %}

