* {
   font-family: "Microsoft YaHei";
   font-size: 15px;
}

div.container {
  background-color: #f3f3f3;
  max-height: 680px;
  max-width: 408px;
}

div.container-padding-both {
  padding-top: 10px;
  padding-bottom: 10px;
}

div.container-margin-both {
  margin-top: 10px;
  margin-bottom: 10px;
}

div.row {
  padding-left: 5px;
  padding-right: 5px;
}

img.small {
  width: 24px;
}

textarea {
  resize: none;
}

.font-small {
  font-size: 12px;
}

.font-middle {
  font-size: 14px;
}

.font-large {
  font-size: 16px;
}

.border-none {
  border: none;
}

.border-radius {
  border: 1px solid #ccc;
  border-radius: 4px;
}

.center-90 {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.center-80 {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.center-70 {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.center-60 {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

