* {
   font-family: "Microsoft YaHei";
   font-size: 16px;
}

body {
  background-color: #F3F3F3;
}

div.container {
  background-color: #F3F3F3;
  max-height: 1008px;
  max-width: 640px;  
}

div.row {
    padding-left: 5px;
    padding-right: 5px;
}