* {
 font-family: "Microsoft YaHei";
 font-size: 24px;
}

div.container {
  padding: 0;
  background-color: #f3f3f3;
  height: 1008px;
  width: 640px;
}

.btn-primary, .btn-primary:hover {
  background-color: #d020a0;
  border-color: #d020a0;
}

.text-primary, .text-primary:hover {
  color: #d020a0;
}

.text-danger {
  color: #f00;
}

.col-xs-4, .col-xs-8 {
  padding: 0;
}

.modal-dialog {
  width: 540px;
  position: relative;
  margin: auto;
  margin-top: 50px;
}

.modal-dialog > div {
  height: 540px;
}

textarea {
  resize: none;
}

.border-none {
  border: none;
}

.border-radius {
  border: 1px solid #ccc;
  border-radius: 10px;
}

div.row {
  padding-left: 5px;
  padding-right: 5px;
}

.hidden {
  display: none;
}

.font-light {
  color: #A9A9A9;
}

.people {
  margin-top: 3%;
}

