input.form-control {
  height: 45px;
  margin: 20px 0 20px 4%;
  width: 92%;
}

button.btn-block {
  width: 70%;
  margin-left: 15%;
}

p {
  text-align: center;
  margin-top: 20px;
}

p.title {
  text-align: left;
  font-weight: bold;
  font-size: 16px;
}

p.auth {
  font-size: 12px;
}

p.info {
  font-size: 16px;
}

